{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <h1 class="title center">Bienvenidos!</h1>
    <h2 class="center">Descubre el Universo del Cine desde la Comodidad de tu Hogar</h2>
    <p class="center">En Glob-Gusters, nuestra misión es llevar la magia del cine a tu sala de estar. Somos una empresa
        especializada en el alquiler de películas con una amplia selección de títulos que abarcan desde clásicos del
        cine hasta los últimos estrenos de taquilla.</p>
    <br>
    <h2 class="center">¿Cómo funciona nuestro servicio?</h2>
    <ul>
        <li>
            Explora nuestro catálogo: Desde comedias románticas hasta thrillers llenos de suspenso, encuentra la
            película perfecta para cada momento.
        </li>
        <br>
        <li>
            Alquila al instante: Con solo unos clics, podrás alquilar y empezar a disfrutar desde la comodidad de tu
            hogar. Ya no necesitas ir a la tienda de alquiler.
        </li>
        <br>
        <li>
            Disfruta en cualquier dispositivo: Nuestra plataforma es compatible con todos tus dispositivos, para que
            puedas ver películas en tu televisor, computadora o móvil.
        </li>
    </ul>
    <br>
    <h2 class="center">¡Únete a la comunidad de amantes del cine que confían en Glob-Gusters para sus noches de
        películas!</h2>
</main>

{% endblock %}